.text-on-video {
  margin: 0;
  width: 90%;
  height: auto;
  position: absolute;
  top: 6em;
  left: 1rem;
}

.text-top {
  display: flex;
  flex-direction: column;
  font-size: 2.2rem;
  gap: 0.5rem;
  font-weight: 600;
  color: rgb(255, 255, 255);
  text-shadow: 0 0 1rem black;
}

.text-bottom {
  color: white;
  width: 100%;
  font-size: 1.8rem;
  font-weight: 200;
}

.button-link {
  font-size: 1.3rem;
  text-decoration: none;
  color: rgb(97, 255, 35);
}

.link-arrow {
  margin: 0;
  font-size: 1.6rem;
}

.button-link-container {
  height: auto;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.button-link:hover {
  transition: 0.3s ease-in-out;
  color: rgb(96, 197, 37);
}
