.servicecard-container {
  margin: 0 auto;
  padding: 1rem 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 0.1rem solid rgb(218, 218, 218);
}

.servicecard-left-side {
  margin: 0;
  width: 60%;
  display: flex;
  flex-direction: column;
}

.service-link-container {
  margin: 0;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0.2rem;
}

.service-name {
  margin: 0;
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

@media screen and (max-width: 500px) {
  .service-link {
    text-decoration: none;
    color: rgb(133, 255, 62);
    font-size: 0.7rem;
    display: flex;
    align-items: center;
    gap: 0.2rem;
  }

  .servicecard-right-side {
    width: 40%;
  }

  .service-img {
    width: 100%;
  }

  .service-btn {
    font-size: 1.2rem;
  }
}

@media (min-width: 1000px) {
  .servicecard-right-side {
    display: flex;
    justify-content: end;
  }
  .service-img {
    width: 70%;
  }

  .service-name {
    font-size: 2.2rem;
  }
  .service-description {
    font-size: 1.4em;
    font-weight: 300;
  }

  .servicecard-left-side {
    display: flex;
    gap: 2rem;
  }
}
