.about-container {
  margin: 0 auto;
  width: 100%;
  position: relative;
}

.about-top-text {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.about-top-bold {
  margin-left: 0.3rem;
  font-weight: 800;
}

.about-bottom-text {
  margin: 0;
  margin-bottom: 2rem;
  font-size: 1rem;
  width: 90%;
  padding-left: 1rem;
  border-left: 0.1rem solid rgb(133, 255, 62);
}

.ctc {
  width: 100%;
}

@media (min-width: 1000px) {
  .about-top-text {
    font-size: 1.6rem;
  }
  .about-bottom-text {
    font-size: 1.3rem;
  }
}
