.mobile-menu-container {
  transition: 0.5s;
  margin: 0 auto;
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
}

.mobile-link {
  margin: 0 auto;
  text-decoration: none;
  color: rgb(161, 161, 161);
  font-size: 2.2rem;
  font-weight: 600;
}

.mobile-link:hover {
  transition: 0.3s;
  color: rgb(133, 255, 62);
}

.mobile-link-container {
  margin: 0 auto;
  position: relative;
  top: 5rem;
  display: flex;
  padding: 1rem 0;
  flex-direction: column;
  justify-content: center;
  gap: 1.2rem;
  width: 60%;
  height: 50%;
  align-items: center;
  border-bottom: 0.1rem solid rgb(133, 255, 62);
  border-top: 0.1rem solid rgb(133, 255, 62);
}

.mobile-close-button {
  cursor: pointer;
  margin: 0;
  position: relative;
  width: 100%;
  color: rgb(161, 161, 161);
  font-size: 3rem;
  text-align: end;
  top: 2.5rem;
  left: 8.3rem;
}

.mobile-close-button:hover {
  transition: 0.3s;
  color: rgb(133, 255, 62);
}

.hide {
  transition: 0.5s;
  display: flex;
  right: 0;
}

.lower-nav {
  margin: 0 auto;
  color: white;
  display: flex;
  gap: 3rem;
  font-size: 0.8rem;
  margin-top: 5.5rem;
}

.calus {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 400;
  color: rgb(133, 255, 62);
}

.calus:hover {
  color: rgb(184, 255, 143);
}

.calus:hover .phone-icon {
  transition: 0.3s;
  scale: 110%;
}

.phone-icon {
  font-size: 1.1rem;
}
