#bookingForm {
  position: fixed;
  top: 4.4rem;
  background-color: white;
  border: 0.1rem solid rgb(133, 255, 62);
  border-radius: 0.3rem;
  padding: 1rem;
  padding-top: 0;
  width: auto;
  height: 100%;
  justify-content: center;
  left: 0;
}

.sel {
  transition: 0.2s ease;
  opacity: 1;
}

.vehicle-info {
  margin: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#rs-model {
  width: 32%;
  font-size: 0.9rem;
  text-align: center;
}

#vehicle {
  width: 57%;
  text-align: center;
}

.booking-header {
  margin: 0;
  color: rgb(133, 255, 62);
}

.booking-close {
  margin: 0;
  font-size: 2rem;
}

.booking-close:hover {
  transition: 0.1s;
  color: rgb(133, 255, 62);
}

.close-hdr {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
